/******************/
/*   Generales   */
/****************/
:root {
  --bg-gray: #f0eeeb;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: "Cabin", sans-serif;
}

img {
  max-width: 100%;
  height: auto;
}

h1,
h2 {
  font-size: 3rem;
}

h1 {
  margin-top: 3.5rem;
  margin-bottom: 1rem;
}

h2 {
  margin-top: 0;
}

h3 {
  font-size: 2rem;
}

p {
  margin: 0;
  font-size: 1.8rem;
  color: rgba(0, 0, 0, 0.5);
}

a {
  text-decoration: none;
}

ul {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
}

.logo {
  font-size: 2rem;
  color: #000;
  font-weight: 600;
  display: inline-block;
}

.container {
  padding: 0 2rem;
}

.btn {
  padding: 1.5rem 1.5rem;
  border-radius: 0.5rem;
  background-color: #000;
  border: unset;
  font-size: 1.5rem;
  color: #fff;
  font-weight: 600;
  display: inline-block;
}

.btn-link {
  color: #000;
  font-size: 1.7rem;
  margin-top: 2rem;
  display: inline-block;
  border-bottom: 1px solid #000;
}

.btn-link i {
  margin-left: 0.5rem;
}

.link {
  font-size: 1.8rem;
  color: rgba(0, 0, 0, 0.65);
  display: inline-block;
}

.no-mobile {
  display: none;
}

.no-tablet {
  display: none;
}

.r-4 {
  padding-right: 4rem;
}

/*********************/
/*    Top Notice    */
/*******************/
.top-notice {
  background-color: #000;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  text-align: center;
}

.top-notice p {
  color: #fff;
}

.top-notice span {
  border-bottom: 1px solid #fff;
}

/*****************/
/*    Navbar    */
/***************/
.navbar {
  background-color: var(--bg-gray);
}

.navbar .container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 4rem 2rem;
}

.navbar-collapse {
  flex-basis: 100%;
  flex-grow: 1;
  align-items: center;
}

.navbar-links {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 2rem;
  margin-top: 2rem;
}

.collapse:not(.show) {
  display: none;
}
/***************/
/*   Header   */
/*************/
.header {
  background-color: var(--bg-gray);
  padding-bottom: 4rem;
}

.features {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}

.feature {
  display: flex;
  align-items: center;
  column-gap: 1.5rem;
}

.feature p {
  font-size: 1.6rem;
  color: rgba(0, 0, 0, 0.8);
}

.form {
  margin-top: 3rem;
  display: flex;
  align-items: center;
  column-gap: 1.5rem;
}

.email-input {
  font-size: 1.5rem;
  padding: 1.5rem 1rem;
  border-radius: 0.5rem;
  width: 60%;
  border: 1px solid rgb(174, 173, 173);
}

/*****************/
/*     Main     */
/***************/
.brands {
  display: flex;
  justify-content: space-between;
  padding-top: 4rem;
  padding-bottom: 4rem;
  align-items: center;
}

.brands img {
  max-width: 30%;
}

.escrow-section {
  background-color: var(--bg-gray);
  padding: 4rem 3.5rem 0 3.5rem;
  border-radius: 1rem;
}

.escrow-section img {
  min-height: 30rem;
  object-fit: cover;
}

/*********************/
/*  Editor Section  */
/*******************/
.text-editor-section {
  margin-top: 6rem;
  margin-bottom: 4rem;
}

.text-editor-section h2 {
  margin-bottom: 1rem;
}

.text-editor-section img {
  margin-top: 3rem;
}

/*******************/
/*     Footer     */
/*****************/
.footer {
  background-color: #000;
  color: #fff;
  padding-top: 6rem;
  padding-bottom: 6rem;
}

.footer .logo {
  color: #fff;
  margin-bottom: 2rem;
}

.footer p {
  color: #9e9e9e;
}

.footer-navbar {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  column-gap: 7rem;
  row-gap: 2rem;
  margin-top: 2rem;
}

.footer-navbar a {
  color: #9e9e9e;
  font-size: 1.7rem;
}

.footer-navbar-menu ul {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}

/**********************/
/*   Media Queries   */
/********************/
@media (min-width: 700px) {
  .container {
    padding: 0 3rem;
  }

  h1,
  h2 {
    font-size: 4rem;
  }

  .no-mobile {
    display: inline-block;
  }
  /* Top Notice */
  .top-notice {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
  }

  .top-notice p {
    font-size: 1.4rem;
  }

  /* Navbar */
  .navbar .container {
    padding: 4rem 3rem;
    align-items: center;
  }

  .only-mobile {
    display: none;
  }

  .collapse:not(.show) {
    display: flex;
  }

  .navbar-collapse {
    flex-basis: 60%;
    flex-grow: 0;
  }

  .navbar-links {
    justify-content: space-between;
    flex-direction: row;
    margin-top: 0;
    width: 100%;
  }

  /* Header */
  .header {
    padding-bottom: 6rem;
  }

  .header h1 {
    max-width: 60%;
  }

  .header .form {
    max-width: 60%;
  }

  /* Main */
  .brands img {
    max-width: 15%;
  }

  .escrow-section {
    padding: 8rem 10rem 0 10rem;
  }

  /* Footer */
  .footer {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }

  .footer-navbar {
    justify-content: unset;
  }

  .footer-info {
    max-width: 50%;
  }

  .footer-navbar-menu h3 {
    margin-top: 0;
  }
}

@media (min-width: 1366px) {
  .container {
    max-width: 1200px;
    margin: 0 auto;
  }

  .no-tablet {
    display: inline-block;
  }

  h1 {
    font-size: 5rem;
    font-weight: 400;
    margin-top: 0;
  }

  /* Navbar */
  .navbar .container {
    padding-top: 5rem;
    padding-bottom: 6rem;
  }

  .navbar-collapse {
    flex-basis: 50%;
  }

  /* Header */
  .header .container {
    display: grid;
    grid-template-columns: 600px 350px;
    justify-content: space-between;
    align-items: center;
    padding-top: 4rem;
    padding-bottom: 4rem;
  }

  .header-info {
    grid-column: 1/2;
    grid-row: 1/2;
  }

  .header-hero {
    grid-column: 2/3;
    grid-row: 1/2;
  }

  .header h1 {
    max-width: 100%;
  }

  /* Main */
  .brands img {
    width: 120px;
    height: 30px;
  }

  .escrow-section {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: space-between;
    align-items: center;
    padding-top: 2rem;
  }

  .escrow-img {
    justify-self: end;
  }

  /* Editor Section */
  .text-editor-section {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    margin-top: 4rem;
  }

  .text-editor-section img {
    grid-column: 1/2;
    grid-row: 1/2;
  }

  .text-editor-section-info {
    grid-column: 2/3;
    grid-row: 1/2;
    margin-bottom: 3rem;
  }

  /* Footer */
  .footer {
    padding-top: 8rem;
    padding-bottom: 8rem;
  }

  .footer-navbar {
    justify-content: space-between;
    column-gap: 0;
    row-gap: 0;
  }

  .footer-info {
    max-width: 30%;
  }

  .sitemap {
    order: 1;
  }

  .resources {
    order: 2;
  }

  .company {
    order: 3;
  }

  .oportunity {
    order: 4;
  }
}
